/* body {
  margin: 0 auto;
  text-align: center;
} */

h1 {
  text-align: center;
  padding-top: 20px;
}

#special-char {
  color: gray;
}

.container {
  display: grid;

  padding-top: 10px;
  margin: 0 auto;
  width: fit-content;
  grid-template-columns: 300px 300px 300px;
}

.content-box {
  text-align: center;
  padding: 20px;
  margin: 20px;
}
