<!-- <p>my-listings-page works!</p> -->
<!-- <app-my-listings-page></app-my-listings-page> -->

<div class="content-box" *ngFor="let listing of listings">
  <h3>{{ listing.name }}</h3>
  <h3>
    <code><em>[ .IMG ]</em></code>
  </h3>
  <p>{{ listing.description }}</p>
  <p>{{ listing.price }} EUR</p>
  <div class="buttons-container">
    <a routerLink="/edit-listing/{{ listing.id }}">
      <button>Edit</button>
    </a>
    <button (click)="onDeleteClicked(listing.name, listing.id)">Delete</button>
  </div>
</div>
<a routerLink="/new-listing">
  <button>Create New Ad</button>
</a>
