/* body {
  align-items: center;
} */
/* .container {
  display: grid;

  margin: 0 auto;
  width: fit-content;
} */

.content-box {
  text-align: center;
  padding: 20px;
  /* margin: 20px; */
  /* width: auto; */
  width: auto;
}

button {
  margin: 5px;
}
